<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--CHAVE DA APLICAÇÃO-->
		<add key="Download" value="https://storage.googleapis.com/valid_desenv_atualizacao_automatica/servico_integracao_hardware/Instalador_do_Servico_de_Integracao_com_o_Hardware_0_2_0_no_drivers.exe" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ApplicationNameInstaller" value="ServicodeIntegracao.exe"/>
		<add key="ServiceName" value="Valid-ServicoIntegracaoHardware"/>
		<add key="StartAutomatic" value="24"/> <!--//Horas-->
		<!--Region PROXY-->
		<add key="HasProxy" value="false"/>
		<!--//ex: HTTP or HTTPS-->
		<add key="ProxyProtocol" value="AesyfTl0n/cA"/><!--//ex: HTTP or HTTPS-->
		<add key="ProxyHost" value="qmut9GGgcRUZt64RBBmbKQiejZ3Rthbhue1ZWQx77zFEIB0BPmOWqeaLuZ9If1sUAA=="/> <!--//ex: ec2-52-67-21-84.sa-east-1.compute.amazonaws.com-->
		<add key="ProxyPort" value="y4zV8/DFoecA"/><!--//ex: 8889-->
		<add key="ProxyUserName" value="qwGQFW2fAR8A"/><!--//ex: admin-->
		<add key="ProxyPassword" value="8wfU2AESd14A"/><!--//ex: 123-->

		<!--Fim Region PROXY-->

	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>